[submodule "1-12"]
	path = part-1/1-12/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "1-13"]
	path = part-1/1-13/material-applications
	url = https://github.com/docker-hy/material-applications.git

[submodule "2-5"]
	path = part-2/2-5/material-applications
	url = https://github.com/docker-hy/material-applications.git

[submodule "express-app"]
	path = part-3/express_app
	url = git@github.com:isoteemu/devopswithdocker-material-applications.git
